<div class="board-container">
  <div class="board-header">
    <h2>Dashboard</h2>
    <div class="header-actions">
      <button class="base light w-image" (click)="navigateToEditStatusesPage()">
        <img src="assets/icons/config-24x24.svg" alt="" />
        <span>Edit statuses</span>
      </button>
      <button class="base" (click)="openCreateDialog()">Create task</button>
    </div>
  </div>
  <div class="board">
    <div *ngFor="let status of statuses" class="board-column">
      <h3>{{ status.text }}</h3>
      <mds-task-list
        [tasks]="tasks"
        [status]="status"
        (open)="openDetailsDialog($event)"
      ></mds-task-list>
    </div>
  </div>
</div>

<mds-create-task-dialog *ngIf="showCreateDialog" (close)="closeCreateDialog()">
</mds-create-task-dialog>

<mds-task-details-dialog
  *ngIf="showDetailsDialog"
  (close)="closeDetailsDialog()"
>
</mds-task-details-dialog>
