button.base {
  background-color: var(--accent-color);
  color: var(--white);
  border: none;
  border-radius: 4px;
  padding: 4px 16px;
  height: 36px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.5px;
  cursor: pointer;
  transition: background 300ms ease-in-out;

  &:hover {
    background-color: var(--accent-hover-color);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &.transparent {
    background-color: transparent;
    color: var(--dark-grey);

    &:hover {
      background-color: var(--light-grey);
    }
  }

  &.w-image {
    display: flex;
    align-items: center;
    gap: 8px;

    img {
      width: 20px;
    }
  }

  &.light {
    background-color: var(--light-grey);
    color: var(--dark-grey);

    &:hover {
      background-color: var(--light-grey-2);
    }
  }
}

textarea {
  width: 100%;
  border-radius: 4px;
  border: 1px solid var(--light-grey-2);
  padding: 10px 12px;
  outline: none;
  font-size: 14px;
  resize: none;
  min-height: 120px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  &:focus {
    border-color: var(--accent-color);
  }
}

input {
  border-radius: 4px;
  border: 1px solid var(--light-grey-2);
  padding: 10px 12px;
  outline: none;
  font-size: 14px;

  &.error {
    border-color: var(--danger-color);
  }

  &:focus {
    border-color: var(--accent-color);
  }
}
