:root {
  --black: #000000;
  --white: #ffffff;
  --background-primary: #f7f8f9;
  --background-secondary: #ebecf0;
  --text-muted: #626f86;
  --text-primary: #44546f;
  --accent-color: #0c66e4;
  --light-accent-color: #d7def7;
  --success-color: #1f845a;
  --light-success-color: #d7f7de;
  --danger-color: #ef4444;
  --accent-hover-color: #074397;
}
