:root {
  --primary-color: #4f46e5;
  --secondary-color: #818cf8;
  --background-color: #f9fafb;
  --surface-color: #ffffff;
  --text-color: #1f2937;
  --text-light-color: #6b7280;
  --border-color: #e5e7eb;

  --black: #000000;
  --white: #ffffff;
  --light-grey: #f7f8f9;
  --light-grey-2: #ebecf0;
  --grey: #626f86;
  --dark-grey: #44546f;
  --accent-color: #0c66e4;
  --light-accent-color: #d7def7;
  --success-color: #1f845a;
  --light-success-color: #d7f7de;
  --light-success-color: #d1f1e2;
  --danger-color: #ef4444;
  --accent-hover-color: #074397;
}
