<div class="status-selector" (clickOutside)="closeDropdown()">
  <div
    class="status-field"
    (click)="toggleDropdown()"
    [ngStyle]="{
      'background-color':
        STATUS_FIELD_STYLES[currentStatus.color].backgroundColor
    }"
  >
    <span
      class="status-text"
      [ngStyle]="{ color: STATUS_FIELD_STYLES[currentStatus.color].textColor }"
      >{{ currentStatus.text }}</span
    >
    <img [src]="STATUS_FIELD_STYLES[currentStatus.color].iconSrc" alt="" />
  </div>

  <div class="status-dropdown" *ngIf="isOpen">
    <div
      *ngFor="let status of availableStatuses"
      class="status-option"
      (click)="selectStatus(status)"
    >
      <span
        [ngStyle]="{
          color: STATUS_FIELD_STYLES[status.color].textColor,
          'background-color': STATUS_FIELD_STYLES[status.color].backgroundColor
        }"
        >{{ status.text | uppercase }}</span
      >
    </div>
  </div>
</div>
