<div class="dialog-overlay" (click)="onClose()">
  <div class="dialog" (click)="$event.stopPropagation()">
    <div class="dialog-header">
      <p class="task-id">TASK-{{ task.id }}</p>
      <div class="header-actions">
        <button class="delete-button" (click)="onDelete(task.id)">
          <img src="assets/icons/trash-24x24.svg" alt="Delete task" />
        </button>
        <button class="close-button" (click)="onClose()">✕</button>
      </div>
    </div>

    <div class="dialog-content">
      <form [formGroup]="taskForm">
        <div class="form-field">
          <label>Status</label>
          <mds-status-selector
            [currentStatus]="taskForm.controls['status'].value"
            (statusChange)="onStatusChange($event)"
          >
          </mds-status-selector>
        </div>
        <div class="form-field">
          <input
            type="text"
            formControlName="title"
            class="title-edit-input"
            [class.error]="isError('title')"
          />
          <div class="error-message" *ngIf="isError('title')">
            <img src="assets/icons/error-24x24.svg" alt="" />
            <span>Summary is required and must be at least 3 characters</span>
          </div>
        </div>
        <div class="form-field">
          <label>Description</label>
          <textarea formControlName="description"></textarea>
        </div>
        <div class="form-field">
          <label>Due date</label>
          <input type="date" formControlName="dueDate" />
        </div>
      </form>
    </div>
    <div class="dialog-footer">
      <button class="base transparent" (click)="onClose()">Close</button>
      <button
        class="base"
        [disabled]="!taskForm.valid && taskForm.touched"
        (click)="onSave()"
      >
        Save
      </button>
    </div>
  </div>
</div>
