.task-id {
  font-size: 0.875rem;
  color: var(--text-muted);
}

.title-edit-input {
  width: 100%;
  font-size: 24px;
  font-weight: 500;
  border: 1px solid transparent;
  padding: 4px 8px;
  border-radius: 3px;

  &.error {
    border-color: var(--danger-color);
  }

  &:hover {
    background-color: var(--background-primary);
  }

  &:focus {
    background-color: var(--white);
    border-color: var(--accent-color);
    outline: none;
  }
}
